.skills-details {
  grid-column-start: 2;
  grid-column-end: 7;
  margin: 0 0 100px 0;
}

.skills-heading {
  margin: 0 0 1.6rem 0;
}

.linkedin {
  text-decoration: underline;
}

@media only screen and (max-width: 1560px) {
  .skills-details {
    grid-column-start: 1;
    grid-column-end: 7;
  }
}
