.header {
  grid-column-start: 2;
  grid-column-end: 13;
}

.heading-h1-container {
  font-size: calc(90px + 3vw);
  /* font-size: 150px; */
  line-height: 176px;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.heading-h1-box {
  position: relative;
  display: flex;
}

.heading-h1-box-web {
  align-self: flex-start;
}

.heading-h1-box-uiux {
  align-self: flex-end;
}

.heading-h1 {
  display: inline;
  position: relative;
  color: transparent;
  /* transition: all 0.3s linear; */
}

.heading-h1-back {
  transition: all 0.3s linear;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: 3px #a3cfcd;
  z-index: 1;
}
