.logo {
  padding: 7px 24px;
  display: flex;
  align-items: center;
  max-width: 280px;
}

.gr {
  width: calc(28px + 1vw);
  margin: 0 1.5vw 0 0;
}

.logo-list-container {
  flex: 1;
}

.logo-list {
  padding: 0 10px 0 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media only screen and (max-width: 1700px) {
  .logo {
    padding: 7px 20px;
  }
}
