.nav {
  padding: 7px 0;
  position: relative;
  width: 42%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-bar {
  display: flex;
  /* margin: 0 100px; */
}

.nav-list {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
}

.nav-list a {
  color: #fff;
}

.nav-list:not(:last-child) {
  margin: 0 80px 0 0;
}

.nav-btn {
  position: absolute;
  right: 9px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 4px;
  background-color: #eeeeee;
  cursor: pointer;
}
