.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  max-width: 1700px;
  margin: 0 auto;
}

.paragraph {
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: 300;
  letter-spacing: 0.08em;
  color: #ffffff;
}

.element {
  font-family: 'La Belle Aurore', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0.04em;
  color: #929aab;
  display: block;
  transform: translateX(-12px);
}

.heading {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.heading-h2-size {
  font-size: 10rem;
  line-height: 11.7rem;
}

.heading-color {
  color: #f7f7f7;
}

.absolute-center {
  top: 50%;
  transform: translateY(-50%);
}

.on-hover {
  color: #00c9c8;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  position: absolute;
}

.transition-base {
  transition: all 0.3s linear;
}

.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 1700px) {
  .margin-40 {
    margin: 0 40px;
  }
}
