@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
    url('Assests/Fonts/roboto-v27-latin-100.woff2') format('woff2'),
    url('Assests/Fonts/roboto-v27-latin-100.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('Assests/Fonts/roboto-v27-latin-300.woff') format('woff2'),
    url('Assests/Fonts/roboto-v27-latin-300.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('Assests/Fonts/roboto-v27-latin-500.woff2') format('woff2'),
    url('Assests/Fonts/roboto-v27-latin-500.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('Assests/Fonts/roboto-v27-latin-700.woff2') format('woff2'),
    url('Assests/Fonts/roboto-v27-latin-700.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('Assests/Fonts/roboto-v27-latin-regular.woff2') format('woff2'),
    url('Assests/Fonts/roboto-v27-latin-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('Assests/Fonts/RobotoMono-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 200;
  src: local('') url('Assests/Fonts/RobotoMono-ExtraLight.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('Assests/Fonts/RobotoMono-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('Assests/Fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('Assests/Fonts/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('Assests/Fonts/RobotoMono-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('Assests/Fonts/RobotoMono-Bold.ttf') format('truetype');
}
