header {
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 0 6.6rem 0;
}

.height-border {
  height: calc(12px + 2vw);
  /* height: 52px; */
  border-radius: 50px;
}

.back-shadow {
  background: #303030;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.25),
    2px 2px 8px rgba(255, 255, 255, 0.25);
}

.location {
  grid-column-start: 4;
  grid-column-end: 13;
  font-weight: 300;
  font-size: calc(16.2px + 1vw);
  /* font-size: 36px; */
  line-height: 42px;
  letter-spacing: 0.04em;
  z-index: 1;
}

.header-container {
  position: relative;
}

.scroll-down-svg {
  /* position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%); */
  grid-column: 7/8;
  position: relative;
  width: 5rem;
  margin: 8.6rem auto 2rem;
  z-index: 9;
  animation: updown 1s infinite linear;
  animation-fill-mode: both;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4px);
  }
}

.ellipse {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 40%;
  max-width: 761px;
  color: #464646;
}

@media only screen and (max-width: 1700px) {
  .navigation {
    margin: 0 0 4rem 0;
  }
}
