.navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.height-border {
  height: calc(32px + 1vw);
  /* height: 52px; */
  border-radius: 50px;
}

.back-shadow {
  background: #303030;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.25),
    2px 2px 8px rgba(255, 255, 255, 0.25);
}
