.work {
  overflow-x: hidden;
  margin: 15rem 0;
}

.work-ele {
  font-family: 'La Belle Aurore', cursive;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.04em;
  color: #929aab;
  display: block;
  cursor: default;
}
