.visit-site {
  font-size: calc(16px + 0.2vw);
  /* font-size: 20px; */
  border: 1px solid #00cecf;
  border-radius: 40px;
  padding: 7px 15px;
  align-self: flex-end;
  text-decoration: none;
}

.visit-site-text {
  font-family: 'Roboto Mono', serif;
  margin-right: 12px;
}

.visit-site-text::after {
  content: url(./../../Assests/SVG/visit-arrow.svg);
  position: relative;
  left: 12px;
}
