.visit-site {
  font-size: calc(4px + 0.8vw);
  /* font-size: 20px; */
  border: 1px solid #00c9c8;
  border-radius: 40px;
  padding: 7px 15px;
  align-self: flex-end;
  text-decoration: none;
}

.visit-site-text {
  font-family: 'Roboto Mono', serif;
  margin-right: 12px;
}

.visit-site-text::after {
  content: url(./../../Assests/SVG/visit-arrow.svg);
  display: inline-block;
  position: relative;
  left: 12px;
  top: 2px;
  width: calc(10px + 0.4vw);
}
